.au-md-editor-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap:4px;
  padding: 5px;
  box-sizing: border-box;
}

.editor-area{
  display: flex;
  gap: 4px;
  height: 100%;
  overflow: auto;
}

.editor-container, .preview {
  border-radius: 5px;
  
  flex-basis: 100%;
  box-sizing: border-box; 
  border: var(--box-border);
  height: calc(100vh - 60px);
  background-color: field;
  padding: 10px;
}

.editor{
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.editor-container{
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0 ;
}

.editor-footer-bar {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  background-color: #0002;
  padding: 0 10px;
}

.editor textarea{
  width: 100%;
  height: 100%;
  /* 重置默认样式 */
  padding: 10px;
  margin: 0;
  border: none;
  outline: none;
  resize: none; /* 禁止用户调整大小 */
  box-sizing: border-box; 
  font-size: 16px;
}

.preview {
  
  background-color: var(--box-bgc);
  overflow: auto;
  
}

.tool-bar{
  user-select: none;
  height:3rem;
  padding: 5px 6px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--box-bgc);
  border: var(--box-border);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between
}


.tool-bar-item {
  height: 32px;
  width: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-bar-item.unable {
  opacity: 0.5;
  pointer-events: none;  /* 禁止鼠标/触摸事件 */
  user-select: none;     /* 禁止文本选中 */
}

.tool-bar-item:hover {
  background-color: #5551;
}

.tool-group {
  display: flex;
  align-items: center;
}

.file-name-input {
  max-width: 100%;
  min-width: 2ch;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 8px;
  font-size: 18px;
  border-radius: 2px;
  height: 32px;
/*  box-sizing: border-box;*/
  margin-left: 4px;
}

.file-name-input:hover,.file-name-input:focus {
  background-color: #5551;
  outline: none;
  border: none;
}

.hide-span {
  position: absolute;
  visibility: hidden;
  left:-9999px;
  top: -9999px;
  font-size: 18px;
  white-space: pre
}

.text-line {
  width: 100%;
  line-height: 1.5rem;
  min-height: 1.5rem;
  background-color: field;
  white-space: pre-wrap;
  word-break: break-all; /*  纯数字的换行问题*/
  position: relative;
  
}



.edited-dom {
/*  counter-reset: section;*/
  font-family: auto;
  outline: none ;
  width: calc(100% - 10px);
  min-height: calc(100% - 10px);
  padding-left: 80px;
  box-sizing: border-box;
}

.edited-dom.hidden{
  position: absolute;
  visibility: hidden;
  min-width: 0;
}

.line-num {
  user-select: none;
  position: absolute;
  visibility: visible;
  width: 9ch;
  left: -80px;
  z-index: 1;
  text-align: center;
  color:var(--color-prettylights-syntax-comment);
  font-family: auto;
  line-height: 1.5rem;
  min-height: 1.5rem;
}

.edited-dom > .text-line {
/*  position: relative;*/
}

.edited-dom > .text-line:before {
/*  counter-increment: section; /* 递增计数器 */
/*  content: counter(section); /* 显示计数器 */
/*  position: absolute;*/
  /* font-size: 0.8rem; */
/*  left: -6ch;*/
/*  width: 6ch;*/
/*  height: 1.5rem;*/
/*  line-height: 1.5rem;*/
  /* background-color: aquamarine; */
  /* z-index: 999; */
/*  text-align: center;*/
/*  opacity: 0.5;*/
}